html{
	font-size: 50px;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	height: .88rem;
	background: url('../img/header_bg_repeat.jpg') repeat;
	display: flex;
	position: relative;
}
.header .logo{
	width: 1.62rem;
	height: .88rem;
	overflow: hidden;
	margin-left: 0.2rem;
}
.header .logo img{
	height: 100%;
}
.header .icon_nav{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	top: 0;
	right: 0.2rem;
}
.header .icon{
	width: 0.64rem;
	height: 0.64rem;
	font-size: 0.64rem;
	margin: 0 0.2rem;
	color: #999;
}
.body{
	position: relative;
	padding: 0.2rem 0.2rem 0;
	overflow: hidden;
	background: #f0ebf1;
}
.body .slide{
	position: relative;
	border: 0.1rem solid #fff;
	border-radius: 0.1rem;
	height: 3.5rem;
}
.body .slide a{                      
	display: block;
}
.body .slide a img{
	width: 100%;
	height: 3.5rem;
}
.body .slide .title{
	position: absolute;
	left: 0.1rem;
	bottom: 0.2rem;
	display: block;
	color: #fff;
	font-size: 0.28rem;
}
.body .nav{
	margin-top: 0.16rem;
	width: 100%;
	background: url('../img/header_bg_repeat.jpg') repeat;
	border-radius: 0.1rem;
}
.nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav li{
	list-style: none;
	width: 25%;
	display: inline-block;
	font-size: 0.65rem;
	float: left;
	text-align: center;
}
.nav li a{
	color: #999;
	font-family: "隶书";
}
.ajax-warp{
	width: 100%;
	height: 100%;
	margin-top: 0.16rem;
}
.ajax-warp ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	overflow: hidden;
}
.ajax-warp ul li{
	list-style: none;
	width: 45%;
	float: left;
	background: #fff;
	border: 0.1rem solid #fff;
	border-radius: 5px;
	margin: 0.1rem 0;
}
.ajax-warp ul li a{
	display: block;
}
.ajax-warp ul li img{
	width: 100%;
}
.ajax-warp ul li p{
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0.28rem;
}

.menu{ position: fixed;z-index: 100; top: 60%; right: 0; width: .8rem; height: .8rem; background: url("../img/pop_tools.png") no-repeat; background-size: .8rem .8rem;}
.wrap{ display: none; }
.menubox{ position: fixed;z-index: 100;  display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; background: rgba(0,0,0,0.4); }
.wrapbox{ position: absolute;  height: 5.6rem; width: 5.6rem; border-radius: 50%; background: url("../img/pop_tools_bg.png") center center no-repeat; }
.wrapbox div{ transition: all 0.2s; }
.btncenter{ position: absolute;  width: .8rem; height: .8rem; border-radius: 50%; background: url("../img/icon_tools_unlogin.png"); background-size: .8rem .8rem; left: 2.4rem; top: 2.4rem; transform: scale(0); }
.btn1{ position: absolute; left: 2.52rem; top: .74rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png"); background-size: .7rem 5.2rem; transform: scale(0); }
.btn1:hover{ transform: scale(2); }
.btn2{ position: absolute; left: 3.84rem; top: 1.44rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png") 0 -1.5rem; background-size: .7rem 5.2rem; transform: scale(0); }
.btn3{ position: absolute; left: 4.08rem; top: 2.88rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png") 0 -3rem; background-size: .7rem 5.2rem; transform: scale(0); }
.btn4{ position: absolute; left: 3.14rem; top: 4.04rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png") 0 -4.5rem; background-size: .7rem 5.2rem; transform: scale(0); }
.btn5{ position: absolute; left: 1.62rem; top: 3.94rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png") 0 -5.94rem; background-size: .7rem 5.2rem; transform: scale(0); }
.btn6{ position: absolute; left: .74rem; top: 2.74rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png") 0 -7.46rem; background-size: .7rem 5.2rem; transform: scale(0);}
.btn7{ position: absolute; left: 1.14rem; top: 1.34rem; width: .7rem; height: .7rem; background: url("../img/icon_tools.png") 0 -8.96rem; background-size: .7rem 5.2rem; transform: scale(0); }

footer{
	width: 100%;
	height: .88rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a{
	font-size: .24rem;
	display: inline-block;
	width: 33.333%;
	text-align: center;
	padding-top: .4rem;
	color: #999;
}
.share{
	background: url('../img/menu_share.jpg') no-repeat top center;
	background-size: .4rem .4rem;
}
.feedback{
	background: url('../img/menu_feedback.jpg') no-repeat top center;
	background-size: .4rem .4rem;
}
.compute{
	background: url('../img/menu_compute.jpg') no-repeat top center;
	background-size: .4rem .4rem;
}
#share{
	width: 80%;
	height: 8rem;
	background: #ff0;
	display: none;
}